.card__search {
    /* width: 550rem; */
    overflow: hidden;
    /* background-color: green; */
}

.card__search {    
    color: rgb(143, 179, 147, 0.8);
    border: none;
    inset: none;
    outline: none;
    background-color: none;

  }
  .field {
    display: flex;
    flex-direction: column;
    position: relative;
    border: none;
    inset: none;
    outline: none;
    background-color: none;
}

.field span {
    padding: 6px 5px 6px 5px;
    border: none;
    width: 100%;
    background: #223243;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgb(143, 179, 147);
    font-weight: 300;
    border-radius: 25px;
    font-size: 1em;
    /* box-shadow:
        -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35); */
    transition: 0.5s;
    outline: none;
    margin-bottom: 0.5rem;
    display: flex;
    gap: 1%;
}
.card__search .field span button {
margin-left: 2%;
/* height: 90%; */
}

