.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* background-color: #fff; */
  min-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(239, 229, 229, 0.2), 0 6px 20px 0 rgba(246, 237, 237, 0.19);
  color: white;
  z-index: 99;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(7px);
  background: rgba(255, 255, 255, 0.05);
  animation: fadeIn 0.3s ease-in-out;
}

.logo img {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.hasUser {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 80px;
}

.hasUser .balance {
  /* position: absolute; */
}

.logout {
  margin-left: 1em;
  position: relative;
}

.guest {
  /* background-color: red; */
  display: flex;
  gap: 20px;
}

.nav {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hasUser {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.nav a {
  display: inline;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Responsive menu styling */
.menu-toggle {
  display: none;
  cursor: pointer;
}


.overlay__table {
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.modal {
  width: 45rem;
  position: absolute;
  max-height: 90vh;
  margin: auto;
  border-radius: 20px;
  background-color: rgb(74, 71, 71);
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(228, 222, 222, 0.25);
  z-index: 30;
  margin-top: 80px;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);

  }
}

.detail-container {
  width: 100%;
  height: 40vh;
}


.headers__table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px 0px;
  border-bottom: 1px solid #2a9d8f
}

.content__table {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
}

.image-container__table {
  margin-right: 20px;
}

.image-container__table img {
  border-radius: 50%;
  width: 210px;
  height: 210px;
  object-fit: cover;
  flex: 4;
}

.sidebar {
  display: none;
}


@media (min-width: 930px) {
  .modal {
    width: 45rem;
    left: calc(50% - 20rem);
    border-radius: 14px;
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
    position: fixed;
  }

  .menu-toggle {
    /* display: block; */
    display: flex;
    position: fixed;
    top: 0;
    left: 5rem;
    margin-top: 1rem;
  }

  .menu-toggle input[type="submit"] {
    width: 100%;
    background: #00dfc4;
    border-radius: 10px;
    color: #223243;
    padding: 10px 0;
    font-weight: 500;
    cursor: pointer;
    box-shadow:
      -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.35),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    margin-bottom: 3rem;
    z-index: 100;
  }

  .menu-toggle input[type="submit"]:hover {
    transform: translateY(3px);
    font-weight: 100;
    align-items: flex-end;
    z-index: 100;
  }

  .menu-toggle .menu-mobile {
    border: 2px solid wheat;
    width: 30px;
  }

  .search__container div,
  .table__body h1

  /* .table__container */
    {
    display: none;
  }

  .table__container {
    overflow-x:auto;
  }

  .sidebar {
    display: block;
  }

  form div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  form div .input__table {
    width: 100%;

  }

  form div button {
    justify-content: flex-start;

  }


  form div button.form__submit {
    width: 100%;

  }

  .sidebar {
    position: fixed;
    top: 1em;
    left: 9em;
    /* height: 250px; */
    width: 100%;
    /* padding: 10px 14px; */
    background: transparent;
    /* border-radius: 3px solid black; */
    transition: all 0.3s ease;
    z-index: 100;
    align-items: center;
    justify-content: center;
  }

  .sidebar.close {
    width: 88px;
    transition: 1s ease-in-out;
  }

  /* ===== Reusable code - Here ===== */
  .sidebar li {
    height: 30px;
    list-style: none;
    display: flex;
    align-items: center;
  }

  .sidebar header .image,
  .sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
  }

  .sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  .sidebar .text,
  .sidebar .icon {
    color: #ccc;
    transition: 1s ease-in-out;
  }

  .sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    transition: 1s;

  }

  .sidebar.close .text {
    opacity: 0;
    transition: 0.28s;
  }

  /* =========================== */

  .sidebar header {
    position: relative;
  }

  .sidebar header .image-text {
    display: flex;
    align-items: center;

  }

  .sidebar header .logo-text {
    display: flex;
    flex-direction: column;
  }

  header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
  }

  header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
  }

  .sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar header .image img {
    width: 40px;
    border-radius: 6px;
  }

  .sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: -5px -5px 15px 2px rgb(91, 105, 109);
    transition: 1s;

  }

  body.dark .sidebar header .toggle {
    color: #707070;
  }

  .sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
    box-shadow: 5px 5px 15px 2px rgb(200, 208, 210);
    transition: 1s;

  }

  .sidebar .menu {
    width: 100%;
    display: flex;
    gap: 5px;
    border: 2px solid #00dfc4;
  }

  .sidebar .menu .nav-link img {
    background-color: wheat;
    color: red;
    width: 60px;
    height: 20px;

  }

  .sidebar li.search-box {
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .sidebar li.search-box input {
    /* height: 100%; */
    /* width: 100%; */
    outline: none;
    border: none;
    background-color: #f6f5ff;
    color: #707070;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
  }

  .sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.2s ease;
  }

  .sidebar li a:hover {
    background-color: var(--primary-color);
  }

  .sidebar li a:hover .icon,
  .sidebar li a:hover .text {
    color: #fff;
  }

  body.dark .sidebar li a:hover .icon,
  body.dark .sidebar li a:hover .text {
    color: #707070;
  }

  .sidebar .menu-bar {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
  }

  .menu-bar::-webkit-scrollbar {
    display: none;
  }

  .sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: #f6f5ff;
    position: relative;
    transition: all 0.3s ease;
  }

  .menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
  }

  .mode .sun-moon i {
    position: absolute;
  }

  .mode .sun-moon i.sun {
    opacity: 0;
  }

  body.dark .mode .sun-moon i.sun {
    opacity: 1;
  }

  body.dark .mode .sun-moon i.moon {
    opacity: 0;
  }

  .menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
  }

  .toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: all 0.3s ease;
  }

  .switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: #fff;
    transition: var(--tran-04);
  }

  body.dark .switch::before {
    left: 20px;
  }

  .home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: all 0.3s ease;
  }

  .home .text {
    font-size: 30px;
    font-weight: 500;
    color: #707070;
    padding: 12px 60px;
  }

  .sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
    transition: 1.7s;
  }

}

@media (min-width: 681px) and (max-width: 1000px) {
  .detail-container {
    height: 66vh;
  }

  .content__table {
    flex-direction: column;
    align-items: center;
  }

  .image-container__table {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .image-container__table img {
    width: 140px;
    height: 140px;
  }
}

.hasProfile {
  display: flex;
  flex-direction: row;
  gap: 15px;
  /* margin-right: 20px; */
}

.balance {
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* margin-right: 20px; */
  /* right: 180px; */
  /* opacity: 0.8; */
  background: transparent;


}

.balance__bgn {
  transition: all 1.5s ease-in-out;
  float: left;
  margin-right: 10px;
  padding-left: 5px;
  font-size: 1rem;
}

.balance__label {
  /* display: inline; */
  /* padding: .2em .6em .3em; */
  padding-right: 5px;
  line-height: 1;
  white-space: nowrap;
  font-size: 0.9rem;
}

.balance__label__euro {
  /* display: inline; */
  padding-right: 5px;
  font-size: 0.9rem;
}

.nav__bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}